{% extends 'base.html.twig' %}
{% block title 'Pin ' ~ pin.id%}
{% block body %}
	<article>
		<h1>{{pin.title}}</h1>
		<p>{{pin.description}}</p>
		<a href="{{ path('app_pins_edit', {id:pin.id}) }}">edit</a>
		|
	</article>
	<a href="{{path('app_home')}}">retour</a>
{% endblock %}
